
  <div class="border border-dark border-3 row mb-4">
    <h3 class="container-fluid header text-white py-2 mb-2 bg-dark">
      Edit Post
    </h3>

    <div class="form-group">
      <label for="blog-title">Title:</label>
      <input
        class="col-12 p-2 form-input"
        type="text" id="blog-title"
        name="blog-title"
        value="{{title}}" />
    </div>
    <div class="form-group py-2">
      <label for="blog-contents">Content:</label>
      <textarea
        class="col-12 p-2 form-input"
        id="blog-content"
        name="blog-content">
        {{content}}
      </textarea>
    </div>
    <div class="form-group col-md-12 d-grid gap-2">

      <button
        id="update-blog"
        type="submit"
        class="btn btn-secondary"
        data-blog-id={{id}}>
        Update Post
      </button>

      <button
        id="delete-blog"
        type="submit"
        class="btn btn-secondary mb-3"
        data-blog-id={{id}}>
        Delete
      </button>

    </div>
  </div>


<script src="../../js/editPost.js"></script>