<div class="row mt-4">
  <div class="col-md-12 border border-dark border-3 row mb-4">
    <div class="header text-white py-2 bg-dark">
      <h3>Create a New Blog</h3>
    </div>

    <div class="form-group">
      <label for="blog-title">Title:</label>
      <input class="form-input" type="text" id="blog-title" name="blog-title" value="{{title}}" />
    </div>
    <div class="form-group">
      <label for="blog-contents">Content:</label>
      <textarea class="form-input" id="blog-content" name="blog-content">{{content}}</textarea>
    </div>
    <div class="form-group col-md-12 d-grid gap-2">

      <button
        id="update-blog"
        type="submit"
        class="btn btn-secondary"
        data-blog-id={{id}}>
        Update Post
      </button>

      <button
        id="delete-blog"
        type="submit"
        class="btn btn-secondary"
        data-blog-id={{id}}>
        Delete
      </button>

    </div>
  </div>
</div>

<script src="../../js/editPost.js"></script>